flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "inject1",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "Simulate Sensor Data",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 1710,
        "y": 1040,
        "wires": [
            [
                "randomValuesFunction"
            ]
        ]
    },
    {
        "id": "randomValuesFunction",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Generate Random Values",
        "func": "msg.payload = {\n    sensor_id: 1,\n    temperature: (Math.random() * (30 - 20) + 20).toFixed(2), // Random temperature between 20 and 30\n    humidity: (Math.random() * (70 - 50) + 50).toFixed(2), // Random humidity between 50% and 70%\n    pressure: (Math.random() * (1020 - 1000) + 1000).toFixed(2) // Random pressure between 1000 and 1020\n};\nreturn msg;",
        "outputs": 1,
        "x": 1810,
        "y": 1040,
        "wires": [
            [
                "http1"
            ]
        ]
    },
    {
        "id": "http1",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "POST to Flask API",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://flask-api:5000/write",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1930,
        "y": 1040,
        "wires": [
            [
                "debug1"
            ]
        ]
    },
    {
        "id": "debug1",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "API Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2150,
        "y": 1040,
        "wires": []
    }
]